{% extends 'base.html' %}

{% load static %}
{% block title %}
<meta http-equiv="refresh" content="20">
<title>Dashboard</title>
{% endblock %}
{% block nav %}
<div class="form-inline my-2 my-lg-0 ml-auto">

    {% if user.is_authenticated %}
    <a class="btn btn-dark mx-2" data-toggle='modal' , data-target='#profilemodal' type="button" href="/dashboard"
        role="button">Profile Manager</a>
    <a class="btn btn-dark mx-2" data-toggle='modal' , data-target='#meetingmodal' type="button" href="/dashboard"
        role="button">Meeting History</a>
    <a class="btn btn-danger mx-2" data-toggle='modal' , data-target='#logoutmodal' type="button" href="/logout"
        role="button">Logout</a>
    {% else %}
    <a class="btn btn-success mx-2" href="/admin_login" role="button">Admin Login</a>
    {% endif %}

</div>
{% endblock %}
{% block header %}
<!-- <header class="masthead text-white text-center" style="background:url('{% static '/img/bg-3.png' %}') center fixed;background-size:100% 100%;"> -->
{% if messages %}
{% for msg in messages %}
<div class="alert alert-{{ msg.tags }} alert-dismissible fade show mx-auto text-lg-left" style="width: 80%;"
    role="alert">
    <strong> {{ msg }} </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="text-center1" style=" margin-top: 150px;margin-left: 190px;">
    <h1 class='text1' style="color: rgb(0, 0, 0);font-size: 22px;font-weight:900;font-family: 'Poppins';">SELECT YOUR HOST FOR MEETING</h1>
</div>



<hr class="bg-light" style="">
<div class="container" style="font-family: 'Poppins', sans-serif;font-size: 15px;">


    <div class="columndashboard">



        <div class="columndash" style="margin-top: -100px;">
            {% for p in hosts %}

            <div class="d-flex align-items-center border p-3 mb-2 bg-white rounded" style="height: 45px;">
                <!-- Host Image -->
                <div class="p-2">
                    <img src="/media/{{ p.host_image }}" class="img-fluid rounded" style="width: 50px; height: 50px;"
                        alt="Host Image">
                </div>

                <!-- Host Details -->
                <div class="d-flex flex-grow-1 justify-content-between align-items-center">
                    <div class="ml-3">
                        <p class="mb-0"><strong>Profile ID:</strong> {{ p.id }}</p>
                    </div>

                    <div class="ml-3 truncate-text" style=" width: 120px;">
                        <p class="mb-0"><strong>Name:</strong> {{ p.host_name }}</p> <!-- Truncated name -->
                    </div>

                    <div class="ml-3">
                        <p class="mb-0"><strong>Rights:</strong> Director</p>
                    </div>

                    <!-- Availability -->
                    <div>
                        <strong>Availability:</strong>
                        <span class="badge 
                            {% if p.status %} badge-success {% else %} badge-danger {% endif %}" style="padding:10px;">
                            {% if p.status %} Free {% else %} Busy {% endif %}
                        </span>
                    </div>

                    <!-- Action Button -->
                    <div class="ml-3">
                        <form action="{% url 'meeting_manager' %}" method="post">
                            {% csrf_token %}
                            {% if p.status %}
                            <button class="btn btn-primary" type="submit" value="{{ p.id }}" name="meeting">
                                Arrange Meeting
                            </button>
                            {% else %}
                            {% if p.current_meeting %}
                            <button class="btn btn-warning" type="submit" value="{{ p.current_meeting.id }}"
                                name="visitor">Current Visitor</button>
                            {% else %}
                            <button class="btn btn-danger" disabled>No Meeting</button>
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>











    <div class="row">


        <div id="profilemodal" class='modal fade' role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header font-weight-bolder ">
                        <h6 class="modal-title">Visitors are not allowed to use this !!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="verification/" method="post">{% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group row my-auto">
                                <label for="inputPassword2" class="col-form-label mx-3">Enter Security password</label>
                                <div class="ml-3">
                                    <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Password"">
                </div>
                </div>
                
            </div>
            <div class=" modal-footer text-center">
                                    <button class="btn bg-success btn-rounded text-light" name="profile" value="profile"
                                        type="submit" style="color: white;">Verify</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="meetingmodal" class='modal fade' role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header font-weight-bolder ">
                        <h6 class="modal-title">Visitors are not allowed to use this !!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="verification/" method="post">{% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group row my-auto">
                                <label for="inputPassword2" class="col-form-label mx-3">Enter Security password</label>
                                <div class="ml-3">
                                    <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Password"">
                    </div>
                    </div>
                    
                </div>
                <div class=" modal-footer text-center">
                                    <button class="btn bg-success btn-rounded text-light" name="meeting" value="meeting"
                                        type="submit">Verify</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="logoutmodal" class='modal fade' role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-dark">
                    <div class="modal-header font-weight-bolder ">
                        <h6 class="modal-title">Visitors are not allowed to use this !!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="verification/" method="post">{% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group row my-auto">
                                <label for="inputPassword2" class="col-form-label mx-3">Enter Security password</label>
                                <div class="ml-3">
                                    <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Password"">
                        </div>
                        </div>
                        
                    </div>
                    <div class=" modal-footer text-center">
                                    <button class="btn bg-success btn-rounded text-light" name="logout" value="logout"
                                        type="submit">Verify</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
<style>
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height to cover the entire screen */
}
     /* Footer Styling */
     .footer {
            /* background-color: #f0f0f0; */
            text-align: center;
            padding: 10px;
            margin-top: auto;
            /* Push the footer to the bottom if there's space */
            width: 100%;
            color: #000000;

        }
</style>

        </header>
        {% endblock %}
        {% block footer %}
        <footer class="footer">
            <p>&copy; Copyright 2021. The National Treasury. All Rights Reserved.</p>
        </footer>
        {% endblock %}